// colors

$off-black: #20222b;
$off-white: #afa5d7;
$light-blue: #464b5e;
$dark-blue: #333745;
$purple: #8357c5;
$blue: #3c4251;

//spacing

$s-size: 0.8rem;
$m-size: 1.1rem;
$l-size: $m-size * 2;
$xl-size: $m-size * 3;
